/* GENERAL */
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body{
	background-color : #f8f9f9;
	font-family : 'Ubuntu', sans-serif;
}

h3{
	font-size : 1.2em ;
	font-weight : bold ; 
}

h4{
	margin-bottom : 5px ; 
	font-weight : 700 ;
	font-size : 1em !important ;
}

#bloc-titre{
	width : 100% ; 
	height : 100% ;
	background-color : #d43f00 ;
}

#logo{
	float : left ; 
	height : 2.5em ;
}

.container-fluid{
	padding-left : 0 ; 
	padding-right : 0 ;
}

.navbar-default {
   	background-color: #d43f00 !important;
	color : white !important ;
	padding-left : 15px ;
	padding-right : 0 ;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{
	padding-top : 0.5em ;
	color : white ;
	font-size : 1.1em ;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus{
	font-family : 'Ubuntu', sans-serif;
	background-color : #d43f00 ; 
	color : white !important;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > a:hover{
	background-color : #01a693 !important;
}

p{
	color : "black" ;
	font-family : 'Ubuntu', sans-serif;
	line-height : 1em ;
}

#panel-left{
	background-color : #FFF1EB; 
	margin-left : 15px ;
	border : 0 ;
}

.nb{
	font-style : italic ; 
	size : 0.9em ;
}

.comm-methode{
	color : #d43f00 ;
 	font-size : 1.2em ;
}

.fas fa-lightbulb{
	font-size : 1.5em ;
}

.wazne{
	font-size : 1.5em ;	
}

.highlight{
	font-size : 1.7em ;
	line-height : 2.5em ;
	color : #d43f00 ;
	box-shadow: inset 0 -0.5em 0 0 #FFB899 ;
}

.diag-subtt{
	font-size : 1.5em !important ; 
	width : auto ;
	padding : 2px ;
	background-color : #01a693 ;
	color : white !important ;
}

#start_diag{
	background-color : #01a693 ; 
	color : white ;
	border : 1px solid #01a693 ; 
}

#download{
	float : right ; 
	margin-right : 20px ; 
	background-color : #01a693 ; 
	color : white ;
	border : 1px solid #01a693 ; 
}

.nav-tabs > li > a {
	border : 1px solid #f8f9f9;
	background-color :  #f8f9f9;
	border-bottom : 1px solid #dddddd;
	border-radius : 0 ;
	color : black ;
}

.nav-tabs > li.active > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
	background-color : white; 
	border-top : 1px solid #d43f00 !important;
	border-left : 0 ; 
	border-bottom : 1px solid #dddddd;
	border-right : 0 ;
}

.apropos-txt{
	font-size : 1.1em ;
	line-height : 1.5em ;
}

.apropos-logos{
	float : right ;
	height :75px ;
	margin-left : 10px ;
	margin-bottom : 30px ;
}